package cmd

import "github.com/spf13/cobra"

var rootCmd = &cobra.Command{
	Use:          "app",
	Short:        "Walking-skeleton Cobra CLI",
	SilenceUsage: true,
}

func Execute() error {
	return rootCmd.Execute()
}

func RootCommand() *cobra.Command {
	return rootCmd
}
